html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// ==============* Scroll Bar *============== \\
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.553);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.587);
  border-radius: 2em;

  &:hover {
    background: rgba(255, 255, 255, 0.766);
  }
}

// ==============* Common Styles For All Sections *============== \\
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}
.sub-section {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

body {
  border: 10px solid #38292c;

  background-color: #b9a394;
  color: #ffffffb8;
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  header {
    z-index: 1;
    background-color: #586a6a;
    // gorna czesc strony
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.295);
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.542);
    .nav-bar {
      // nawigacja
      max-width: 1250px;
      margin: 0 auto;
      // position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        img {
          height: 100px;
          width: 100px;
          opacity: 0.85;
        }
      }
      .navigation {
        .nav-items {
          a {
            font-size: 1.5em;
            color: #ffffffbc;
            transition: 0.15s ease;
            &:not(:last-child) {
              margin-right: 50px;
            }
            &:hover {
              color: rgba(0, 0, 0, 0.566);
            }
          }
        }
      }
    }
  }
  .home {
    color: rgba(0, 0, 0, 0.709);
    // position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;

    // padding: 2rem 4rem;
    .home-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        h1 {
          font-size: 4em;
          line-height: 70px;
          color: #000000bd;
        }

        h2 {
          line-height: 50px;
        }

        p {
          max-width: 350px;
          font-size: 1.2rem;
        }
        .btn {
          display: inline-block;
          font-size: 2rem;
          letter-spacing: 1px;
          margin-top: 25px;
          padding: 15px 25px;
          // border-radius: 10px;
          background: #818d92bb;
          color: rgba(255, 255, 255, 0.729);
          border: 2px solid rgba(0, 0, 0, 0.5);
          box-shadow: 10px 5px 0 rgba(0, 0, 0, 0.7);
          transition: 0.2s ease;
          &:hover {
            color: rgb(255, 255, 255);
          }
          &:active {
            color: rgb(214, 214, 214);
            border: 2px solid rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.7);
            margin-left: 15px;
            // margin-top: 3px;
          }
        }
      }
      .home-img {
        img {
          opacity: 0.95;
          transition: 0.3s ease;
          height: 500px;
          max-width: 100%;
          object-fit: cover;
          padding: 0.5rem;
          border-radius: 10%;
          box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  .about {
    border-top: 10px solid rgba(0, 0, 0, 0.536);
    // width: 100%;
    background-color: #5e4549;
    .container {
      .about__title {
        position: relative;
        // background-color: red;
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
        h1 {
          font-size: 4.5rem;
        }
        &::before {
          border-radius: 50px;
          position: absolute;
          top: 70%;
          left: 25%;
          content: "";
          width: 50%;
          height: 10px;
          background-color: rgba(0, 0, 0, 0.514);
        }
      }
      .about__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .about__img {
            border-radius: 20px;
            width: 200px;
            height: 200px;
            overflow: hidden;
            object-fit: cover;
            opacity: 0.9;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.7);
          }
          p {
            padding-top: 1.5rem;
            font-size: 2rem;
            position: absolute;
            top: 490px;
            // left: 0;
            color: black;
          }
        }
      }
    }
  }
  .block {
    padding: 40px;
  }
  .block2 {
    display: flex;
    flex-direction: column;
    background-color: #586a6a;
    // padding:5vh 3vh 3vh 3vh;
    position: relative;
    .div-two {
      margin-top: 2rem;
      display: flex;
      flex-direction: row-reverse;
      p {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      text-align: center;
    }
    &::before {
    }
  }
}
